.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  width: 500px;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 20px 0px #00000014;

  @media screen and (max-width: 767px) {
    margin-top: 4rem;
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    margin-top: 4rem;
  }

  @media screen and (max-width: 350px) {
    width: 100%;
    margin-top: 0;
  }
}

.header-wrapper {
  position: relative;
  width: 100%;
  padding: 2rem 5rem;
  background-color: $violet;
  transition: all 0.8s ease-in;
  color: $gray_light;
  text-align: center;

  @media screen and (max-width: 1280px) {
    padding: 2rem 3rem;
  }

  @media screen and (max-width: 767px) {
    padding: 1.5rem 2rem;
  }

  @media screen and (max-width: 450px) {
    padding: 1rem 1.5rem;
  }
}

.menu-item {
  @media screen and (max-width: 450px) {
    display: none;
  }
}

.menu-icon {
  @media screen and (min-width: 449px) {
    display: none;
  }
}

.team {
  padding: 3rem 5rem;

  @media screen and (max-width: 1280px) {
    padding: 2rem 3rem;
  }

  @media screen and (max-width: 767px) {
    padding: 1.5rem 2.5rem;
  }

  @media screen and (max-width: 450px) {
    padding: 1.5rem 1.5rem;
  }

  @media screen and (max-width: 375px) {
    padding: 1.5rem 0.5rem;
  }
}

.userList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  width: 305px;
  height: 263px;
  padding: 36px 0 20px 0;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px #33333326;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heart-holder {
  position: relative;
  width: 30px;
  height: 28px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: $gray_light;
  align-self: flex-end;
  margin-right: 1rem;
}

.favorite-btn {
  position: absolute;
  width: 14px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
}
